

<header>

    <nav class="navbar navbar-dark bg-dark">
        <div class="text-light" >MOHAK SINGH </div>
        
        <ul class="list-inline" class="text-light">
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="list-inline-item"><a routerLink="/welcome/mohak">Home</a></li>
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="list-inline-item"><a routerLink="/todos">ToDos</a></li>
          </ul>

        <ul class="list-inline text-end" class="text-light">
            <li *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" class="list-inline-item"><a routerLink="/login">Login</a></li>
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="list-inline-item"><a routerLink="/logout">Logout</a></li>
          </ul>
    </nav>
</header>

